<div class="mb-4">
    <h5 class="mb-3">Add Images</h5>
    <!-- <input id="fancy-file-upload" type="file" name="files" accept=".jpg, .png, image/jpeg, image/png" multiple> -->
    <div class="image-upload-container" style="display: flex; flex-wrap: wrap; gap: 10px;">
      <div class="image-upload">
        <label class="btn btn-primary"
          style="display: flex; align-items: center; background-color: #007bff; border: none; color: white; padding: 10px 20px; font-size: 16px; cursor: pointer; border-radius: 5px;">
          <i class="bx bx-image-add" style="margin-right: 5px;"></i> Upload Image 1
          <input type="file" name="image1" accept=".jpg, .png, image/jpeg, image/png" hidden
            onchange="previewImage(event, 'imagePreview1')">
        </label>
        <img id="imagePreview1" src="" alt="Image 1 Preview" style="display: none; max-width: 100px;">
      </div>
      <div class="image-upload">
        <label class="btn btn-primary"
          style="display: flex; align-items: center; background-color: #007bff; border: none; color: white; padding: 10px 20px; font-size: 16px; cursor: pointer; border-radius: 5px;">
          <i class="bx bx-image-add" style="margin-right: 5px;"></i> Upload Image 2
          <input type="file" name="image2" accept=".jpg, .png, image/jpeg, image/png" hidden
            onchange="previewImage(event, 'imagePreview2')">
        </label>
        <img id="imagePreview2" src="" alt="Image 2 Preview" style="display: none; max-width: 100px;">
      </div>
      <div class="image-upload">
        <label class="btn btn-primary"
          style="display: flex; align-items: center; background-color: #007bff; border: none; color: white; padding: 10px 20px; font-size: 16px; cursor: pointer; border-radius: 5px;">
          <i class="bx bx-image-add" style="margin-right: 5px;"></i> Upload Image 3
          <input type="file" name="image3" accept=".jpg, .png, image/jpeg, image/png" hidden
            onchange="previewImage(event, 'imagePreview3')">
        </label>
        <img id="imagePreview3" src="" alt="Image 3 Preview" style="display: none; max-width: 100px;">
      </div>
    </div>
  </div>