<!--start sidebar-->
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
      <div class="logo-icon">
        <img src="/adminHomeAssets/images/logo-icon.png" class="logo-img" alt="">
      </div>
      <div class="logo-name flex-grow-1">
        <h5 class="mb-0">Dashboard</h5>
      </div>
      <div class="sidebar-close">
        <span class="material-icons-outlined">close</span>
      </div>
    </div>
    <div class="sidebar-nav">
        <!--navigation-->
        <ul class="metismenu" id="sidenav">
          <li>
            <a href="/admin/dashboard" class="">
              <div class="parent-icon"><i class="material-icons-outlined">home</i>
              </div>
              <div class="menu-title">Dashboard</div>
            </a>
            <!-- <ul>
              <li><a href="index.html"><i class="material-icons-outlined">arrow_right</i>Analysis</a>
              </li>
              <li><a href="index2.html"><i class="material-icons-outlined">arrow_right</i>eCommerce</a>
              </li>
            </ul> -->
          </li>
          <li>
            <a href="/admin/users" class="">
              <div class="parent-icon"><i class="material-icons-outlined">people</i>
              </div>
              <div class="menu-title">Users</div>
            </a>
            <!-- <ul>
              <li><a href="/admin/users"><i class="material-icons-outlined">arrow_right</i>Users List</a>
              </li>
              <li><a href="widgets-static.html"><i class="material-icons-outlined">arrow_right</i>User Details</a>
              </li>
            </ul> -->
          </li>
          <li>
            <a href="/admin/category" class="arrow_right" >
              <div class="parent-icon"><i class="material-icons-outlined">category</i>
              </div>
              <div class="menu-title">Category</div>
            </a>
          </li>
          <li>
            <a href="/admin/brand" class="arrow_right">
              <div class="parent-icon"><i class="material-icons-outlined">local_offer</i></div>
              <div class="menu-title">Brand</div>
            </a>
          </li>
          
          <li>
            <a href="/admin/products" class="arrow_right" >
              <div class="parent-icon"><i class="material-icons-outlined">shopping_cart</i>
              </div>
              <div class="menu-title">products</div>
            </a>
          </li>
          <li>
            <a href="/admin/orders" class="arrow_right">
              <div class="parent-icon"><i class="material-icons-outlined">receipt_long</i>
              </div>
              <div class="menu-title">Orders</div>
            </a>
          </li>    
          <li>
            <a href="/admin/return-requests" class="arrow_right">
                <div class="parent-icon"><i class="material-icons-outlined">restore</i></div>
                <div class="menu-title">Return Requests</div>
            </a>
        </li>
        <li>
          <a href="/admin/coupon-management" class="arrow_right">
              <div class="parent-icon"><i class="material-icons-outlined">card_giftcard</i></div>
              <div class="menu-title">Coupon Management</div>
          </a>
      </li>
      
      
            
    </div>
  </aside>
  <!--end sidebar-->