<%- include('../layouts/header.ejs') %>
<style>
    .cart-link {
text-decoration: none;
color: inherit; /* Prevents color change on hover */
}

.cart-link:hover .cart-icon {
color: #ff5733; /* Optional: Change color on hover if needed */
}

.cart-icon {
font-size: 18px; /* Control icon size */
}

/* Make sure these properties are set correctly */
.cart-link:hover {
visibility: visible;
opacity: 1;
display: inline-block; /* Ensures the icon doesn't hide */
}

  </style>

    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <%if(!user){%>
                                    <a href="/login">Sign in</a>
                                    <%}%>
                                        <a href="#">FAQs</a>
                            </div>
                            <%if(user){%>
                                <div class="header__top__hover">
                                    <span>Account<i class="arrow_carrot-down"></i></span>
                                    <ul>
                                        <li onclick="profile()">Profile</li>
                                        <li>Settings</li>
                                        <li onclick="confirmLogout()">Logout</li>
                                    </ul>
                                </div>
                                <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/home">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <!-- <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="/cart">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li> -->
                            <!-- <li><a href="./blog.html">Blog</a></li> -->
                            <!-- <li><a href="./contact.html">Contacts</a></li>  -->
                        </ul>
                    </nav>
                </div>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <!-- <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a> -->
                        <% if(user){ %>
                        <a href="/wishlist"><img src="img/icon/heart.png" alt=""></a>
                        <!-- <a href="/cart"><img src="img/icon/cart.png" alt=""> <span>0</span></a> -->
                        <a href="/cart" class="cart-link">
                            <i class="fas fa-shopping-cart cart-icon"></i>
                            <span></span>
                          </a>
                        <a href="/profile" class="profile-icon"><i class="fas fa-user"></i></a>
                        <% } %>
                         
                        <!-- <a href="/profile"><i class="fas fa-user"></i></a> -->
                        <!-- <div class="price">$0.00</div> -->
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <style>
        .profile-icon i {
        color: black; /* Set icon color to black */
        font-size: 15px; /* Adjust size as needed */
    }

        </style>
    </header>
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>

        function profile() {
            window.location.href = '/profile';
        }

        function confirmLogout() {
Swal.fire({
    title: 'Are you sure?',
    text: "You will be logged out of your account.",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, log me out',
    cancelButtonText: 'Cancel'
}).then((result) => {
    if (result.isConfirmed) {
        // Proceed with logout
        logout();
    }
});
}

async function logout() {
const response = await fetch('/logout', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    }
});

if (response.ok) {
            Swal.fire({
                title: 'Logged Out',
                text: 'You have been logged out successfully.',
                icon: 'success',
                timer: 1000, // Show for 2 seconds
                showConfirmButton: false // Hide the OK button
            });

            // Redirect after the alert is shown
            setTimeout(() => {
                window.location.href = '/home';
            }, 1000); // Match this with the timer above
        } else {
            Swal.fire(
                'Error',
                'There was a problem logging out. Please try again.',
                'error'
            );
        }
    }


    </script>